@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #002FA7;
}


@layer components {
  .display {
    @apply  text-[96px] font-semibold leading-[88px] tracking-[-2%];
  }
  .h1 {
    @apply  text-[64px] font-semibold leading-[72px] tracking-[0%];
  }
  .body-xl {
    @apply font-sans text-[24px] font-normal leading-[36px] tracking-[0%];
  }
}